<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IProductRegistrationService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://quicksilver.webservice/ProductRegistrations.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProductRegistrationService"
                contract="ProductRegistrationService.IProductRegistrationService"
                name="BasicHttpBinding_IProductRegistrationService" />
        </client>
    </system.serviceModel>
</configuration>